@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
}

section{
    max-width: 1200px;
    margin: 0 auto;
}

header{
    background-color: black;
    height: 120px;
    padding: 10px;
}

header nav a{
    color: white;
    text-decoration: none;
}

header .logo{
    float: left;
}

header nav ul li{
    float: left;
}

header .logo img{
    width: 110px;
}

header nav{
    margin-top: 20px;
}